<div class="dogs-details">

    <h1>{{dog.name}}</h1>
    <p><b>Género: </b>{{dog.gender}}</p>
    <p><b>Edad: </b>{{dog.age}}</p>
    <p><b>Tamaño:</b>{{dog.size}}</p>
    <p><b>Centro:</b>{{dog.shelter}}</p>
    <p>
        <b>Comentarios sobre {{dog.name}}</b>:
    </p>
    <p>{{dog.comments}}</p>

    <a href="/dogs-list"><b>Volver</b></a>
</div>